.otsikko{
	width: 13%;
	position: absolute;
	padding: 5px;
	border-style: groove;
}
.input{
	left: 250px;
	width: 13%;
	position: absolute;
	border-style: groove;
	padding: 5px;
}
.paivakirja{
	width:29%;
	padding: 11px;
	border-style: groove;
	font-size: 13px;

}